@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14pt;
}

header nav a {
    text-decoration: none;
    color: darkslategrey;
    letter-spacing: 2px;
}

header nav a:hover{
    font-weight: bold;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 16pt;
}

img.img-jumbo {
    width: 100%;
    height: 200px;
    border-radius: 7px;
    margin-top: 20px;
}

img.img-jumbo-404 {
    width: 100%;
}

img.item-image {
    width: 45%;
}

.car-cdr {
    display: flex;
}

.car-cdr .text-container {
    padding: 20px;
}
.middle-content {
    padding: 20px 0;
}
.bottom-content{
    padding-top: 20px;
    border-top: 1px dashed darkslategrey;
}
.bottom-content .text-container {
    font-size: 12px;
}