/* @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
} */

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
 }

p {
    font-size: 12pt;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14pt;
}

header nav a {
    text-decoration: none;
    color: darkslategrey;
    letter-spacing: 2px;
}

header nav a:hover{
    font-weight: bold;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

img.img-jumbo {
    width: 100%;
    height: 200px;
    border-radius: 7px;
    margin-top: 20px;
}

img.img-jumbo-404 {
    width: 100%;
}

img.linux-logo {
    width: 100px;
    margin-right: 15px;
}
img.item-image {
    width: 50%;
    margin-right: 20px;
    border-radius: 7px;
}

img.item-image-wide {
    width: 99%;
    border-radius: 7px;
    padding: 20px 0 20px 0;
}

img.margin-left {
    margin-left: 20px;
}

.car-cdr {
    display: flex;
}

.car-cdr .vertical-flow {
    flex-direction: column;
}

.car-cdr .text-container {
    padding: 0px;
}
.middle-content {
    padding: 20px 0;
    border-top: 1px dashed darkslategrey;
    border-bottom: 1px dashed darkslategrey;
}
.bottom-content{
    padding: 20px 0;
}
.bottom-content .text-container {
    font-size: 12px;
}